@*--------------------------------------------------------------Section One@*--------------------------------------------------------------*@
<section id="sectionOne" class="pt-5 pb-5 bg-green">
    <div class="container d-lg-flex pr-0 pl-0">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 h-50">
            <div>
                <h1 class="text-white">Our Design</h1>
                <h1 class="text-white opacity">Your Passion</h1>
                <p class="mt-5 w-75 text-white-50">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
        </div>
        <div id="interior" class="col-lg-6 col-md-12 col-sm-12 col-xs-12 d-sm-none mt-3"></div>
    </div>
    <div class="container">
        <button class="btn btn-consultation text-white mt-4">Get A Free Consultation</button>
    </div>
</section>
@*--------------------------------------------------------------Section Two@*--------------------------------------------------------------*@
<section id="sectionTwo" class="bg-gray pt-5 pb-5">
    <div class="container">
        <div class="">
            <div class="w-100">
                <div>
                    <h1 class="text-dark">Interior design</h1>
                    <h1 class="text-dark font-weight-lighter">is for everyone</h1>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                <p class="mt-5 font-italic"><b>&#8212;</b> Good for You</p>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                <img class="center pb-3" src="~/img/icon-1.svg" />
                <h2>Find your happy place</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                <img class="center pb-3" src="~/img/icon-2.svg" />
                <h2>Delightfully affordable</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                <p class="mt-5 font-italic"><b>&#8212;</b> Good for Us</p>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                <img class="center pb-3" src="~/img/icon-3.svg" />
                <h2>Create a lasting relationship</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                <img class="center pb-3" src="~/img/icon-4.svg" />
                <h2>We work with 200 vendors</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>
    </div>
</section>
@*--------------------------------------------------------------Section Three@*--------------------------------------------------------------*@
<section id="sectionThree" class="pb-5 pt-5 bg-white">
    <div class="container">
        <div class="d-flex mt-5">
            <div class="w-50">
                <h2 class="pb-3"><b>Contact</b> us</h2>
                <div class="mb-3">
                    <input type="text" class="form-control" id="name" placeholder="Name">
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" id="email" placeholder="Email">
                </div>
                <div class="mb-3">
                    <textarea class="form-control" id="message" placeholder="Message" rows="4"></textarea>
                </div>
            </div>
            <div id="melbourne" class="w-50 ml-5 mt-3"></div>
        </div>
        <button class="btn btn-submit text-white text-sm-center mt-2">Submit</button>
    </div>
</section>
