<footer class="border-top footer text-muted bg-green">
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-6 col-sm-3 pr-0 pb-3">
                <h6 class="text-white text-capitalize f-400">SERVICES</h6>
                <div class="menu-footer">
                    <a href="#" class="text-white text-sm-left">Interior Design</a>
                    <a href="#" class="text-white text-sm-left">Architecture</a>
                    <a href="#" class="text-white text-sm-left">Furniture and Decor</a>
                </div>
            </div>
            <div class="col-6 col-sm-3 pl-0 pb-3">
                <h6 class="text-white text-capitalize f-400">ABOUT</h6>
                <div class="menu-footer">
                    <a href="#" class="text-white text-sm-left">Philosophy</a>
                    <a href="#" class="text-white text-sm-left">Our Strenghts</a>
                    <a href="#" class="text-white text-sm-left">Our Team</a>
                </div>
            </div>
            <div class="col-6 col-sm-3 pr-0">
                <h6 class="text-white text-capitalize f-400">PORTFOLIO</h6>
                <div class="menu-footer">
                    <a href="#" class="text-white text-sm-left">Residential</a>
                    <a href="#" class="text-white text-sm-left">Commercial</a>
                </div>
            </div>
            <div class="col-6 col-sm-3 pl-0">
                <h6 class="text-white text-capitalize f-400">CONTACT US</h6>
                <div class="menu-footer">
                    <p class="text-white text-sm-left break-text">Level 10,4 Elizabeth Street Melbourne, Victoria 3000</p>
                    <a href="mailto:interior_studio@gmail.com" class="text-decoration-none shadow  btn-email text-white text-sm-center">interior_studio@gmail.com &nbsp;<i class="fa-solid fa-paper-plane"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>